body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.l-wrapper{
  position:relative;
}

.l-background{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  pointer-events: none;
  background:#f0f;
}
.l-main{
  position:relative;
  overflow:hidden;
}

.p-background{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  &__canvas{

  }
}
